{
  "assetDirectories" : [
    "../assets/",
    "./mods/"
  ],

  "storageDirectory" : "./",

  "assetsSettings" : {
    "pathIgnore" : [],
    "digestIgnore" : [
      ".*"
    ]
  },

  "defaultConfiguration" : {
    "allowAdminCommandsFromAnyone" : true,
    "anonymousConnectionsAreAdmin" : true
  }
}
