{
	"backSleeve<slot>": {
		"properties": {
			"centered": true,
			"zLevel": 3,
			"anchorPart": "backArm",
			"processingDirectives" : "<chestCosmetic<slot>Directives>"
		},
		"partStates": {
			"body": {
				"idle": { "properties": { "image": "<backSleeve<slot>Frameset>:<personalityArmIdle>" } },
				"duck": { "properties": { "image": "<backSleeve<slot>Frameset>:<body_state>.<body_frame>" } },
				"sit" : "duck",
				"lay" : "duck",
				"walk": { "properties": { "image": "<backSleeve<slot>Frameset>:<body_state>.<armSequenceFrame>" } },
				"run": { "properties": { "image": "<backSleeve<slot>Frameset>:run.<armSequenceFrame>" } },
				"runbackwards" : "run",
				"jump" : "duck",
				"fall" : "duck",
				"swim" : "duck",
				"swimIdle" : "duck"
			},
			"backArm" : {
				"rotation": { "properties": {
					"image": "<backSleeve<slot>Frameset>:<backArmFrame>"
				} }
			},
			"backarmDance" : {
				"dance": { "properties": { "image": "<backSleeve<slot>Frameset>:<backArmDanceFrame>" } }
			},
			"portraitMode" : {
				"head": { "properties": {} },
				"bust": { "properties": { "image": "<backSleeve<slot>Frameset>:<personalityArmIdle><portraitMask>" } }
			}
		}
	},
	"backCosmetic<slot>": {
		"properties": {
			"centered": true,
			"zLevel": 5,
			"transformationGroups": ["backCosmetic<slot>Rotation"],
			"anchorPart" : "body",
			"processingDirectives" : "<backCosmetic<slot>Directives>"
		},
		"partStates": {
			"body": {
				"idle": { "properties": { "image": "<backCosmetic<slot>Frameset>:<personalityIdle>" } },
				"duck": { "properties": { "image": "<backCosmetic<slot>Frameset>:<body_state>.<body_frame>" } },
				"sit" : "duck",
				"lay" : "duck",
				"walk" : "duck",
				"run": "duck",
				"runbackwards": "duck",
				"jump" : "duck",
				"fall" : "duck",
				"swim" : "duck",
				"swimIdle" : "duck",

				"neutral": { "properties": { "image": "<backCosmetic<slot>Frameset>:idle.1" } }

			},
			"bodyDanceState" : {
				"dance": { "properties": { "image": "<backCosmetic<slot>Frameset>:<bodyDanceFrame>" } }
			},
			"portraitMode" : {
				"head": { "properties": {} },
				"bust": { "properties": {} }
			}
		}
	},
	"legsCosmetic<slot>": {
		"properties": {
			"centered": true,
			"zLevel": 10,
			"zLevelSlot" : [10.14, 10.08, 10.02, 10.00, 10.15, 10.09, 10.03, 10.01, 10.04, 10.05, 10.06, 10.07, 10.10, 10.11, 10.12, 10.13, 10.16, 10.17, 10.18, 10.19],
			"anchorPart": "body",
			"processingDirectives" : "<legsCosmetic<slot>Directives>"
		},
		"partStates": {
			"body": {
				"idle": { "properties": { "image": "<legsCosmetic<slot>Frameset>:<personalityIdle>" } },
				"duck": { "properties": { "image": "<legsCosmetic<slot>Frameset>:<body_state>.<body_frame>" } },
				"sit" : "duck",
				"lay" : "duck",
				"walk" : "duck",
				"run": { "properties": { "image": "<legsCosmetic<slot>Frameset>:run.<body_frame>" } },
				"runbackwards" : "run",
				"jump" : "duck",
				"fall" : "duck",
				"swim" : "duck",
				"swimIdle" : "duck"
			},
			"bodyDance" : {
				"dance": { "properties": { "image": "<legsCosmetic<slot>Frameset>:<bodyDanceFrame>" } }
			},
			"portraitMode" : {
				"head": { "properties": {} },
				"bust": { "properties": { "image": "<legsCosmetic<slot>Frameset>:<personalityIdle><portraitMask>" } }
			}
		}
	},
	"chestCosmetic<slot>": {
		"properties": {
			"centered": true,
			"zLevel": 10,
			"zLevelSlot" : [10.14, 10.08, 10.02, 10.00, 10.15, 10.09, 10.03, 10.01, 10.04, 10.05, 10.06, 10.07, 10.10, 10.11, 10.12, 10.13, 10.16, 10.17, 10.18, 10.19],
			"transformationGroups": ["movementOffset"],
			"anchorPart" : "body",
			"processingDirectives" : "<chestCosmetic<slot>Directives>"
		},
		"partStates": {
			"body": {
				"idle": { "properties": { "image": "<chestCosmetic<slot>Frameset>:<personalityIdle>", "transformationGroups" : [] } },
				"duck": { "properties": { "image": "<chestCosmetic<slot>Frameset>:<body_state>", "transformationGroups" : [] } },
				"sit": { "properties": { "image": "<chestCosmetic<slot>Frameset>:chest.1" } },
				"lay" : "sit",
				"walk" : "sit",
				"run": { "properties": { "image": "<chestCosmetic<slot>Frameset>:run" } },
				"runbackwards": "run",
				"jump" : "sit",
				"fall" : "sit",
				"swim" : { "properties": { "image": "<chestCosmetic<slot>Frameset>:swim" } },
				"swimIdle" : "swim"
			},
			"bodyDance" : {
				"dance": { "properties": { "image": "<chestCosmetic<slot>Frameset>:<bodyDanceFrame>" } }
			},
			"portraitMode" : {
				"head": { "properties": { } },
				"bust": { "properties": { "image": "<chestCosmetic<slot>Frameset>:<personalityIdle><portraitMask>", "transformationGroups" : [] } }
			}
		}
	},
	"headCosmetic<slot>": {
		"properties": {
			"centered": true,
			"zLevel": 14,
			"anchorPart": "head",
			"processingDirectives" : "<headCosmetic<slot>Directives>"
		},
		"partStates": {
			"head": {
				"idle": { "properties": { "image": "<headCosmetic<slot>Frameset>:normal" } },
				"duck": "idle",
				"sit": "idle",
				"lay": "idle",
				"walk": "idle",
				"run": "idle",
				"runbackwards": "idle",
				"jump": "idle",
				"fall": "idle",
				"swim": "idle",
				"swimIdle": "idle"
			},
			"portraitMode" : {
				"head": { "properties":{"image" : "<headCosmetic<slot>Frameset>:normal<portraitMask>"}},
				"bust" : "head"
			}
		}
	},
	"frontSleeve<slot>": {
		"properties": {
			"centered": true,
			"zLevel": 17,
			"anchorPart": "frontArm",
			"processingDirectives" : "<chestCosmetic<slot>Directives>"
		},
		"partStates": {
			"body": {
				"idle": { "properties": { "image": "<frontSleeve<slot>Frameset>:<personalityArmIdle>" } },
				"duck": { "properties": { "image": "<frontSleeve<slot>Frameset>:<body_state>.<body_frame>" } },
				"sit" : "duck",
				"lay" : "duck",
				"walk": { "properties": { "image": "<frontSleeve<slot>Frameset>:<body_state>.<armSequenceFrame>" } },
				"run": { "properties": { "image": "<frontSleeve<slot>Frameset>:run.<armSequenceFrame>" } },
				"runbackwards": "run",
				"jump" : "duck",
				"fall" : "duck",
				"swim" : "duck",
				"swimIdle" : "duck"
			},
			"frontArm" : {
				"rotation": { "properties": {
					"image": "<frontSleeve<slot>Frameset>:<frontArmFrame>"
				} }
			},
			"frontarmDance" : {
				"dance": { "properties": { "image": "<frontSleeve<slot>Frameset>:<frontArmDanceFrame>" } }
			},
			"portraitMode" : {
				"head": { "properties": {} },
				"bust": { "properties": { "image": "<frontSleeve<slot>Frameset>:<personalityArmIdle><portraitMask>" } }
			}
		}
	}

}
