{
  "frameBuffer" : "main",

  "effectParameters" : {
    "lightMapEnabled" : {
      "type" : "bool",
      "default" : true,
      "uniform" : "lightMapEnabled"
    },
    "lightMapScale" : {
      "type" : "vec2",
      "default" : [1, 1],
      "uniform" : "lightMapScale"
    },
    "lightMapOffset" : {
      "type" : "vec2",
      "default" : [0, 0],
      "uniform" : "lightMapOffset"
    },
    "lightMapMultiplier" : {
      "type" : "float",
      "default" : 1.0,
      "uniform" : "lightMapMultiplier"
    },
    "vertexRounding" : {
      "type" : "bool",
      "default" : false,
      "uniform" : "vertexRounding"
    }
  },

  "effectTextures" : {
    "lightMap" : {
      "textureUniform" : "lightMap",
      "textureSizeUniform" : "lightMapSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "world.vert",
    "fragment" : "world.frag"
  }
}