/build/
/build_linux/
/out/
/source/out/
/Output/
/windows/
/linux/
/mac/
/dist/
/installer/
/vcpkg/
/client_distribution/
/server_distribution/
/source/vcpkg_installed/
enc_temp_folder/
.cache/
/attic/user/
/attic/chucklefish/
/attic/debug/
/tiled/
/assets/user/
/assets/devel/
/assets/packed.pak
/mods/*.pak
/mods/*
*/.vs/
*.vs/
*.sln
*.suo
*.vcxproj*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix