build/
dist/
attic/
lib/
tiled/
assets/user/
assets/devel/
mods/*.pak
mods/*
*.sln
*.suo
*.vcxproj*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
