build/
dist/
enc_temp_folder/
.cache/
attic/
tiled/
assets/user/
assets/devel/
assets/packed.pak
mods/*.pak
mods/*
*/.vs/
*.vs/
*.sln
*.suo
*.vcxproj*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix