{
  "panefeature": {
    "type": "panefeature",
    "anchor": "centerLeft",
    "positionLocked": true
  },

  "background": {
    "type": "background",
    "fileHeader": "",
    "fileBody": "/interface/title/serverselectionbackground.png",
    "fileFooter": ""
  },

  "save": {
    "type": "button",
    "caption": "Save",
    "callback": "saveServer",
    "base": "/interface/title/joinserverUp.png",
    "hover": "/interface/title/joinserverOver.png",
    "position": [ 80, 35 ]
  },

  "serverSelectArea": {
    "type": "scrollArea",
    "rect": [ 23, 54, 214, 254 ],
    "children": {
      "serverList": {
        "type": "list",
        "schema": {
          "selectedBG": "/interface/title/serverselectselected.png",
          "unselectedBG": "/interface/title/serverselect.png",
          "spacing": [ 0, 2 ],
          "memberSize": [ 181, 28 ],
          "listTemplate": {
            "background": {
              "type": "image",
              "file": "/interface/title/serverselect.png",
              "position": [ 0, 0 ],
              "zlevel": -1
            },
            "address": {
              "type": "label",
              "position": [ 90, 10 ],
              "hAnchor": "mid",
              "value": "Server Address",
              "fontSize": 12,
              "color": [ 255, 255, 255 ],
              "mouseTransparent": true
            },
            "account": {
              "type": "label",
              "position": [ 90, 2 ],
              "hAnchor": "mid",
              "value": "Account Name",
              "fontSize": 8,
              "color": [ 255, 255, 255 ],
              "mouseTransparent": true
            },
            "delete": {
              "type": "button",
              "base": "/interface/title/delete/garbage2.png",
              "hover": "/interface/title/delete/garbage2hover.png",
              "pressed": "/interface/title/delete/garbage2pressed.png",
              "position": [ 155, 3 ]
            }
          }
        }
      }
    }
  }
}