{
  "scripts" : ["/interface/opensb/voicechat/voicechat.lua"],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "selectDevice",
    "voiceToggle",
    "switchVoiceMode"
  ],

  "canvasClickCallbacks" : {
    "inputVolume" : "inputVolume",
    "voiceVolume" : "voiceVolume",
    "threshold" : "threshold"
  },

  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
        "positionLocked" : false
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/opensb/voicechat/header.png",
      "fileBody" : "/interface/opensb/voicechat/body.png",
      "fileFooter" : "/interface/opensb/voicechat/footer.png"
    },

    "voiceVolumeLabel" : {
      "type" : "label",
      "value" : "TheirVolume",
      "position" : [26, 178],
      "wrapWidth" : 48,
      "lineSpacing" : 0.75,
      "hAnchor" : "mid",
      "vAnchor" : "mid"
    },
    "voiceVolume" : {
      "type" : "canvas",
      "rect" : [50, 171, 247, 186],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    },

    "inputVolumeLabel" : {
      "type" : "label",
      "value" : "YourVolume",
      "position" : [26, 158],
      "wrapWidth" : 48,
      "lineSpacing" : 0.75,
      "hAnchor" : "mid",
      "vAnchor" : "mid"
    },
    "inputVolume" : {
      "type" : "canvas",
      "rect" : [50, 151, 247, 166],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    },

    "enableVoiceToggleBack" : {
      "type" : "image",
      "file" : "/interface/opensb/voicechat/bigbuttonback.png?multiply=0f0",
      "position" : [2, 189],
      "zlevel" : -1
    },
    "enableVoiceToggle" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [2, 189],
      "base" : "/interface/opensb/voicechat/bigbutton.png?replace;fff=fff0;000=0007",
      "hover" : "/interface/opensb/voicechat/bigbutton.png?replace;fff=fff7;000=3337",
      "press" : "/interface/opensb/voicechat/bigbutton.png?replace;fff=000;000=7777",
      "callback" : "voiceToggle",
      "fontSize" : 16,
      "zlevel" : 1
    },


    "voiceModeLabel" : {
      "type" : "label",
      "value" : "VoiceMode",
      "position" : [26, 133],
      "wrapWidth" : 32,
      "lineSpacing" : 0.75,
      "hAnchor" : "mid",
      "vAnchor" : "mid"
    },
    "pushToTalkBack" : {
      "type" : "image",
      "file" : "/interface/opensb/voicechat/pushtotalkback.png?multiply=0f0",
      "position" : [50, 121],
      "zlevel" : -1
    },
    "pushToTalk" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [50, 121],
      "base" : "/interface/opensb/voicechat/pushtotalk.png?replace;fff=fff0;000=0007",
      "hover" : "/interface/opensb/voicechat/pushtotalk.png?replace;fff=fff7;000=3337",
      "press" : "/interface/opensb/voicechat/pushtotalk.png?replace;fff=000;000=7777",
      "callback" : "switchVoiceMode",
      "fontSize" : 16,
      "zlevel" : 1
    },

    "voiceActivityBack" : {
      "type" : "image",
      "file" : "/interface/opensb/voicechat/activityback.png?multiply=0f0",
      "position" : [167, 121],
      "zlevel" : -1
    },
    "voiceActivity" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [167, 121],
      "base" : "/interface/opensb/voicechat/activity.png?replace;fff=fff0;000=0007",
      "hover" : "/interface/opensb/voicechat/activity.png?replace;fff=fff7;000=3337",
      "press" : "/interface/opensb/voicechat/activity.png?replace;fff=000;000=7777",
      "callback" : "switchVoiceMode",
      "fontSize" : 16,
      "zlevel" : 1
    },

    "thresholdLevel" : {
      "type" : "label",
      "value" : "Threshold",
      "position" : [26, 109],
      "wrapWidth" : 48,
      "lineSpacing" : 0.75,
      "hAnchor" : "mid",
      "vAnchor" : "mid"
    },
    "threshold" : {
      "type" : "canvas",
      "rect" : [50, 102, 247, 117],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    },

    "devices" : {
      "type" : "scrollArea",
      "rect" : [3, 16, 248, 98],
      "children" : {
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/opensb/voicechat/deviceback.png?multiply=0f0",
            "unselectedBG" : "/interface/opensb/voicechat/deviceback.png?multiply=222",
            "spacing" : [0, 1],
            "memberSize" : [234, 16],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/opensb/voicechat/deviceback.png?multiply=222",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "button" : {
                "type" : "button",
                "callback" : "selectDevice",
                "caption" : "Unnamed",
                "base" : "/interface/opensb/voicechat/device.png?replace;fff=fff0;000=0007",
                "hover" : "/interface/opensb/voicechat/device.png?replace;fff=fff7;000=3337",
                "press" : "/interface/opensb/voicechat/device.png?replace;fff=000;000=7777",
                "pressedOffset" : [0, 0],
                "position" : [0, 0]
              }
            }
          }
        }
      }
    }
  }
}