{
  "panefeature": {
    "type": "panefeature",
    "anchor": "centerLeft",
    "positionLocked": true
  },
  "background": {
    "type": "background",
    "fileHeader": "",
    "fileBody": "/interface/modsmenu/presetselectlist.png",
    "fileFooter": ""
  },
  "save": {
    "type": "button",
    "caption": "Save",
    "callback": "savePreset",
    "base": "/interface/title/joinserverUp.png",
    "hover": "/interface/title/joinserverOver.png",
    "position": [
      80,
      35
    ]
  },
  "presetSelectArea": {
    "type": "scrollArea",
    "rect": [
      23,
      54,
      214,
      254
    ],
    "children": {
      "presetList": {
        "type": "list",
        "schema": {
          "selectedBG": "/interface/modsmenu/presetentry.png?replace;393939=858585",
          "unselectedBG": "/interface/modsmenu/preseterentry.png",
          "spacing": [
            0,
            2
          ],
          "memberSize": [
            181,
            28
          ],
          "listTemplate": {
            "background": {
              "type": "image",
              "file": "/interface/modsmenu/preseterentry.png",
              "position": [
                0,
                0
              ],
              "zlevel": -1
            },
            "name": {
              "type": "label",
              "position": [
                90,
                7
              ],
              "hAnchor": "mid",
              "value": "Name",
              "fontSize": 12,
              "color": [
                255,
                255,
                255
              ],
              "mouseTransparent": true
            },
            "delete": {
              "type": "button",
              "base": "/interface/title/delete/garbage2.png",
              "hover": "/interface/title/delete/garbage2hover.png",
              "pressed": "/interface/title/delete/garbage2pressed.png",
              "position": [
                155,
                3
              ]
            }
          }
        }
      }
    }
  }
}