{
  "background" : {
    "type" : "background",
    "fileHeader" : "/interface/modsmenu/confirm/header.png",
    "fileBody" : "/interface/modsmenu/confirm/body.png",
    "fileFooter" : "/interface/modsmenu/confirm/footer.png"
  },

  "windowtitle" : {
    "type" : "title",
    "title" : "Save template",
    "subtitle" : "",
    "position" : [0, 254]
  },
  
  "name" : {
    "type" : "textbox",
    "position" : [43, 44],
    "callback": "null",
    "maxLength" : 20,
    "hint" : "Enter new name"
  },

  "save" : {
    "type" : "button",
    "caption" : "Save",
    "base" : "/interface/modsmenu/confirm/save.png",
    "down" : "/interface/modsmenu/confirm/saveDown.png",
    "position" : [22, 26],
    "pressedOffset" : [2, -2]
  },

  "cancel" : {
    "type" : "button",
    "caption" : "Cancel",
    "base" : "/interface/modsmenu/confirm/cancel.png",
    "down" : "/interface/modsmenu/confirm/cancelDown.png",
    "position" : [108, 26],
    "pressedOffset" : [2, -2]
  }
}
