1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Chucklefish LTD"
      VALUE "FileDescription", "OpenStarbound"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "starbound"
      VALUE "LegalCopyright", "Chucklefish LTD"
      VALUE "OriginalFilename", "starbound.exe"
      VALUE "ProductName", "OpenStarbound"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
icon ICON "OpenStarbound.ico"
