{
  "scriptWidgetCallbacks": [
    "species", "gender", "mode", "name", "randomName",
    "populateSpecies", "toggleOptions", "randomize",
    "saveChar", "cancel", "toggleClothing",

    "mainSkinColor.up", "mainSkinColor.down",
    "hairStyle.up", "hairStyle.down",
    "shirt.up", "shirt.down",
    "pants.up", "pants.down",
    "alty.up", "alty.down",
    "heady.up", "heady.down",
    "shirtColor.up", "shirtColor.down",
    "pantsColor.up", "pantsColor.down",
    "personality.up", "personality.down"
  ],
  "scripts": ["/interface/opensb/charcreation/charcreation.lua"],
  "scriptDelta": 0,
  "spinners": ["labelMainSkinColor", "labelHairStyle", "labelShirt", "labelPants", "labelAlty", "labelHeady", "labelShirtColor", "labelPantsColor", "labelPortrait", "labelPersonality"],
  "spinnerIndices": {
    "bodyColor": 1,
    "hair": 2,
    "shirt": 3,
    "pants": 4,
    "alty": 5,
    "heady": 6,
    "shirtColor": 7,
    "pantsColor": 8,
    "personality": 10,

    "labelMainSkinColor": 1,
    "labelHairStyle": 2,
    "labelAlty": 5,
    "labelHeady": 6,
    "labelPersonality": 10
  },

  "labelRandomise": "   MORE:",

  "gui": {
    "btnSpeciesUp": {
      "type": "button",
      "base": "/interface/pickright.png",
      "hover": "/interface/pickrightover.png",
      "position": [88, 310],
      "callback": "populateSpecies",
      "data": 1
    },
    "btnSpeciesDown": {
      "type": "button",
      "base": "/interface/pickleft.png",
      "hover": "/interface/pickleftover.png",
      "position": [42, 310],
      "callback": "populateSpecies",
      "data": -1
    }
    /*
    "randomize": { //patch to use new icons
      "type": "button",
      "base": "/interface/title/osb_more.png",
      "hover": "/interface/title/osb_moreover.png",
      "position": [188, 226],
      "callback": "toggleOptions"
    }*/
  }
}
