{
  "PlayerMetadata" : {"opensb":0},
  "WorldMetadata" : {"opensb":0},
  "System" : {"opensb":0},
  "UniverseSettings" : {"opensb":0},
  "TempWorldIndex" : {"opensb":0},
  "ClientContext" : {"opensb":0},
  "CelestialChunk" : {"opensb":0},
  "Statistics" : {"opensb":0},

  "PlayerEntity" : {"opensb":0},
  "MonsterEntity" : {"opensb":0},
  "ObjectEntity" : {"opensb":0},
  "PlantEntity" : {"opensb":0},
  "ItemDropEntity" : {"opensb":0},
  "NpcEntity" : {"opensb":0},
  "StagehandEntity" : {"opensb":0},
  "VehicleEntity" : {"opensb":0},

  "Item" : {"opensb":0},
  "Quest" : {"opensb":0},
  "QuestArcDescriptor" : {"opensb":0},
  "QuestDescriptor" : {"opensb":0}
}
