<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>OpenStarbound</string>
  <key>CFBundleExecutable</key>
  <string>starbound</string>
  <key>CFBundleIdentifier</key>
  <string>com.chucklefish</string>
  <key>CFBundleName</key>
  <string>OpenStarbound</string>
  <key>CFBundleIconFile</key>
  <string>starbound</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSEnvironment</key>
  <dict>
    <key>MinimumSystemVersion</key>
    <string>10.9.0</string>
  </dict>
  <key>SDL_FILESYSTEM_BASE_DIR_TYPE</key>
  <string>parent</string>
</dict>
</plist>
