{
  "scripts" : ["/interface/opensb/shaders/shaders.lua"],
  "scriptDelta" : 0,
  "scriptWidgetCallbacks" : [
    "selectGroup",
    "toggleGroupEnabled",
    "sliderOptionModified",
    "textboxOptionModified",
    "selectOptionPressed"
  ],

  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
        "positionLocked" : false
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/opensb/shaders/header.png",
      "fileBody" : "/interface/opensb/shaders/body.png",
      "fileFooter" : "/interface/opensb/shaders/footer.png"
    },
    "title" : {
      "type" : "label",
      "position" : [200, 220],
      "hAnchor" : "mid",
      "fontSize" : 16,
      "value" : "SHADERS"
    },
    "close" : {
      "type" : "button",
      "position" : [173, 1],
      "caption" : "Back",
      "base" : "/interface/button.png?scalenearest=1;0.925",
      "hover" : "/interface/buttonhover.png?scalenearest=1;0.925"
    },
    "banner" : {
      "type" : "canvas",
      "rect" : [146, 187, 398, 215]
    },
    "groups" : {
      "type" : "scrollArea",
      "rect" : [4, 16, 145, 214],
      "children" : {
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/opensb/shaders/groupback.png?multiply=0f0",
            "unselectedBG" : "/interface/opensb/shaders/groupback.png?multiply=222",
            "spacing" : [0, 1],
            "memberSize" : [130, 16],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/opensb/shaders/groupback.png?multiply=222",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "button" : {
                "type" : "button",
                "callback" : "selectGroup",
                "caption" : "Unnamed",
                "base" : "/interface/opensb/shaders/group.png?replace;fff=fff0;000=0007",
                "hover" : "/interface/opensb/shaders/group.png?replace;fff=fff7;000=3337",
                "press" : "/interface/opensb/shaders/group.png?replace;fff=000;000=7777",
                "pressedOffset" : [0, 0],
                "position" : [0, 0]
              }
            }
          }
        }
      },
      "buttons" : {
        "horizontal" : {
          "forward" : { "base" : "", "hover" : "", "pressed" : "" },
          "backward" : { "base" : "", "hover": "", "pressed" : "" }
        },
        "vertical" : {
          "forward" : {
            "base" : "/interface/scrollarea/varrow-forward.png?setcolor=fff",
            "hover" : "/interface/scrollarea/varrow-forwardhover.png",
            "pressed" : ""
          },
          "backward" : {
            "base" : "/interface/scrollarea/varrow-backward.png?setcolor=fff",
            "hover" : "/interface/scrollarea/varrow-backwardhover.png",
            "pressed" : ""
          }
        }
      },
      "thumbs" : {
        "horizontal" : {
          "base" : { "begin" : "", "end" : "", "inner" : "" },
          "hover" : { "begin" : "", "end" : "", "inner" : "" },
          "pressed" : { "begin" : "", "end" : "", "inner" : "" }
        },
        "vertical" : {
          "base" : {
            "begin" : "/interface/scrollarea/vthumb-begin.png",
            "end" : "/interface/scrollarea/vthumb-end.png",
            "inner" : "/interface/scrollarea/vthumb-inner.png"
          },
          "hover" : {
            "begin" : "/interface/scrollarea/vthumb-beginhover.png",
            "end" : "/interface/scrollarea/vthumb-endhover.png",
            "inner" : "/interface/scrollarea/vthumb-innerhover.png"
          },
          "pressed" : {
            "begin" : "/interface/scrollarea/vthumb-beginhover.png",
            "end" : "/interface/scrollarea/vthumb-endhover.png",
            "inner" : "/interface/scrollarea/vthumb-innerhover.png"
          }
        }
      }
    },
    "options" : {
      "type" : "scrollArea",
      "updatesChildren" : true,
      "rect" : [147, 16, 398, 185],
      "children" : {},
      "buttons" : {
        "horizontal" : {
          "forward" : { "base" : "", "hover" : "", "pressed" : "" },
          "backward" : { "base" : "", "hover": "", "pressed" : "" }
        },
        "vertical" : {
          "forward" : {
            "base" : "/interface/scrollarea/varrow-forward.png?setcolor=fff",
            "hover" : "/interface/scrollarea/varrow-forwardhover.png",
            "pressed" : ""
          },
          "backward" : {
            "base" : "/interface/scrollarea/varrow-backward.png?setcolor=fff",
            "hover" : "/interface/scrollarea/varrow-backwardhover.png",
            "pressed" : ""
          }
        }
      },
      "thumbs" : {
        "horizontal" : {
          "base" : { "begin" : "", "end" : "", "inner" : "" },
          "hover" : { "begin" : "", "end" : "", "inner" : "" },
          "pressed" : { "begin" : "", "end" : "", "inner" : "" }
        },
        "vertical" : {
          "base" : {
            "begin" : "/interface/scrollarea/vthumb-begin.png",
            "end" : "/interface/scrollarea/vthumb-end.png",
            "inner" : "/interface/scrollarea/vthumb-inner.png"
          },
          "hover" : {
            "begin" : "/interface/scrollarea/vthumb-beginhover.png",
            "end" : "/interface/scrollarea/vthumb-endhover.png",
            "inner" : "/interface/scrollarea/vthumb-innerhover.png"
          },
          "pressed" : {
            "begin" : "/interface/scrollarea/vthumb-beginhover.png",
            "end" : "/interface/scrollarea/vthumb-endhover.png",
            "inner" : "/interface/scrollarea/vthumb-innerhover.png"
          }
        }
      }
    }
  }
}
