{
  "globalIgnore" : [
    "/\\.",
    "/~",
    "thumbs\\.db$",
    "\\.bak$",
    "\\.tmp$",
    "\\.zip$",
    "\\.orig$",
    "\\.fail$",
    "\\.psd$",
    "\\.tmx$"
  ],

  "serverIgnore" : [
    "\\.ogg$",
    "\\.wav$"
  ],

  "extensionOrdering" : [
    "",
    "config",
    "bush",
    "grass",
    "modularfoliage",
    "modularstem",
    "projectile",
    "monstertype",
    "monsterpart",
    "npctype",
    "npctype",
    "vehicle",
    "particle",
    "animation",
    "object",
    "liquid",
    "material",
    "object",
    "coin",
    "miningtool",
    "flashlight",
    "wiretool",
    "beamminingtool",
    "harvestingtool",
    "tillingtool",
    "paintingbeamtool",
    "headarmor",
    "chestarmor",
    "legsarmor",
    "backarmor",
    "consumable",
    "blueprint",
    "codex",
    "techitem",
    "instrument",
    "grapplinghook",
    "thrownitem",
    "unlockitem",
    "activeitem",
    "augmentitem",
    "material",
    "matmod",
    "lua",
    "frames",
    "png",
    "wav",
    "ogg"
  ]
}
