{
  "paneLayout": {
    "panefeature": {
      "type": "panefeature"
    },
    "background": {
      "type": "background",
      "fileHeader": "/interface/confirmation/header.png",
      "fileBody": "/interface/confirmation/body.png",
      "fileFooter": "/interface/confirmation/footer.png"
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/confirmation/shine.png",
      "position": [
        0,
        20
      ],
      "zlevel": -1
    },
    "windowtitle": {
      "type": "title",
      "title": "HTTP Request",
      "subtitle": "Script wants to access external domain",
      "size": 12
    },
    "icon": {
      "type": "image",
      "file": "/interface/httpwarning/www.png",
      "position": [
        4,
        128
      ]
    },
    "message": {
      "type": "label",
      "position": [
        120,
        110
      ],
      "hAnchor": "mid",
      "wrapWidth": 240,
      "value": "A script wants to make HTTP requests to:",
      "fontSize": 8,
      "mouseTransparent": true
    },
    "domain": {
      "type": "label",
      "position": [
        120,
        90
      ],
      "hAnchor": "mid",
      "wrapWidth": 240,
      "value": "meme.com",
      "fontSize": 8,
      "mouseTransparent": true
    },
    "message2": {
      "type": "label",
      "position": [
        120,
        60
      ],
      "hAnchor": "mid",
      "wrapWidth": 240,
      "value": "Do you want to allow this request",
      "fontSize": 8,
      "mouseTransparent": true
    },
    "rememberCheckbox": {
      "type": "button",
      "callback": "null",
      "base": "/interface/optionsmenu/checkboxnocheck.png",
      "hover": "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked": "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked": "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable": true,
      "checked": false,
      "position": [
        5,
        22
      ]
    },
    "rememberLabel": {
      "type": "label",
      "position": [
        20,
        22
      ],
      "hAnchor": "left",
      "value": "Remember and trust this domain",
      "fontSize": 8,
      "mouseTransparent": true
    },
    "yes": {
      "type": "button",
      "base": "/interface/buttonred.png?hueshift=120",
      "hover": "/interface/buttonredhover.png?hueshift=120",
      "position": [
        55,
        38
      ],
      "caption": ""
    },
    "no": {
      "type": "button",
      "base": "/interface/buttonred.png",
      "hover": "/interface/buttonredhover.png",
      "position": [
        125,
        38
      ],
      "caption": ""
    }
  }
}