1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Chucklefish LTD"
      VALUE "FileDescription", "OpenStarbound Server"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "starbound_server"
      VALUE "LegalCopyright", "Chucklefish LTD"
      VALUE "OriginalFilename", "starbound_server.exe"
      VALUE "ProductName", "OpenStarbound Server"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
icon ICON "starbound_server.ico"
